<div class="column is-4 is-offset-4">
    <h1 class="title">My Leave Requests</h1>
    <div class="box" style="width: 50%">
        <table style="width: 100%; text-align: left">
            <thead>
            <th>Username</th>
            <th>Reason</th>
            <th>Date</th>
            </thead>
            <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.username }}</td>
                    <td>{{ request.reason }}</td>
                    <td>{{ request.time }}</td>
                    <td>
                        <form action="{{ url_for('delete_leave_request', leave_id=request.id, leave_time=request.time) }}" method=post>
                            <input type=submit value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>